<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.divayprakash.storage">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Storage App"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SharedPreferencesActivity"
            android:label="Shared Preferences Demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FileStorageSelectionActivity"
            android:label="Storage Selection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InternalStorageActivity"
            android:label="Internal Storage Demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExternalStorageActivity"
            android:label="External Storage Demo"
            android:screenOrientation="portrait" />
        <activity android:name=".DatabaseActivity"></activity>
    </application>

</manifest>